<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NAl</title>
</head>
<body>
<a href="/nal/create">Create new Nal</a>
<h1>Nal</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="nal : ${nals}">
        <tr>
<!--            <td th:text="${nal.name}"></td>-->
            <td><a th:href="@{/city/list}" th:text="${nal.name}"></a></td>

            <td><a th:href="@{/nal/edit/__${nal.id}__ }">Edit</a></td>
            <td><a th:href="@{/nal/delete/__${nal.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>