<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View nal</title>
</head>
<body>
<h1>View nal: <span th:text="${nal.name}"></span></h1>
<a href="/nal/list">nal list</a>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <th:block th:each="city : ${cities}">
        <tr>
            <td th:text="${city.cityName}"></td>
            <td th:text="${city.citySize}"></td>
            <td th:text="${city.cityPeople}"></td>
            <td th:text="${city.GDP}"></td>
            <td th:text="${city.cityDici}"></td>
            <td th:text="${city.getNal().getName()}"></td>
            <td><a th:href="@{/edit-customers/__${city.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customers/__${city.id}__ }">Delete</a></td>
        </tr>
<!--    </th:block>-->
<!--        <div>-->
<!--            <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>-->
<!--            <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>-->
<!--            <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>-->
<!--        </div>-->
</table>
</body>
</html>